<!DOCTYPE html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Seismospec</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
   <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
   
</head>

<body>
   <header>
       <h1>Seismospec</h2>
       <h3>Простой визуализатор спектра для SEG-Y файлов (не более 5 Мб). Загружайте свой файл или попробуйте тестовый. Можно выделять прямоугольную область</h3>
       <p>Автор <a href="http://sergeevsergei.ru">Сергей Сергеев</a>. Приложение сделано с помощью <a href="https://fastapi.tiangolo.com/">FastAPI</a>, <a href="https://plotly.com/javascript">Plotly.js</a> и <a href = "https://segyio.readthedocs.io/en/latest/">SegyIO</a>. <a href="https://github.com/sergeevsn/seismospec_online">Репозиторий на github</a>.                
     </p>
   </header>
   <section>
       <div class="column column1">
           <h3>Данные</h3>
           <button id="uploadBtn">Открыть SEG-Y...</button>
            <input type="file" id="fileInput" accept = ".sgy, .segy" style="display: none;">
            <button id="demodataBtn">Тестовые данные</button>
            <button id="resetBtn">Сбросить выделение</button>

        
       </div>
       <div class="column column2" id="heatmapDiv">          

       </div>
       <div class="column column3">
       
        <div id="linechartDiv"></div>
    </div>
   </section>



   <script src="scripts.js"></script>
   

   

  


</body>

</html>
